<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.antipanov.unit_converter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Area" />
        <activity android:name=".Mass" />
        <activity android:name=".Speed" />
        <activity android:name=".Time" />
        <activity android:name=".Temperature" />
        <activity android:name=".Lenght" />
        <activity android:name=".Volume" />
        <activity android:name=".Pressure" />
        <activity android:name=".Power" />
        <activity android:name=".Torque" />
        <activity android:name=".Fuel" />
        <activity android:name=".Energy" />
        <activity android:name=".Digital" />
        <activity android:name=".Cooking"></activity>
    </application>

</manifest>